.center{
	text-align: center;
}

.avatar{
border: 2px solid #e21d1d;
    border-top-width: 2px;
    border-top-color: rgb(226, 29, 29);
    border-right-width: 2px;
    border-right-color: rgb(226, 29, 29);
    border-bottom-width: 2px;
    border-bottom-color: rgb(226, 29, 29);
    border-left-width: 2px;
    border-left-color: rgb(226, 29, 29);
  border-top-width: 2px;
  border-top-color: rgb(226, 29, 29);
  border-right-width: 2px;
  border-right-color: rgb(226, 29, 29);
  border-bottom-width: 2px;
  border-bottom-color: rgb(226, 29, 29);
  border-left-width: 2px;
  border-left-color: rgb(226, 29, 29);
  box-shadow: 0 0 1px 7px rgba(226, 29, 29, 0.2);
  border-radius: 100%;
  object-fit: cover;
  height: 100px;
  width: 100px;
}

header > nav a:hover, header > nav a.current, header > nav a[aria-current="page"], header > nav a[aria-current="true"]{
	border-color: #a10d0d;
  color: #a10d0d;
  cursor: pointer;
}